.task-card {
  width: 300px;
  height: 200px;
  overflow: hidden;
  padding: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 140px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 3px;
  margin-top: auto;
}

.task-card:active {
  box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.563);
}


.task-header {
  background-color: #ff6e40;
  color: white;
  padding: 0.65px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  flex-shrink: 0;
}

.task-text {
  padding: 6px;
  font-size: 13px;
  color: #333;
  text-align: center;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffc13b;
  color: #555;
  padding: 6px;
  text-align: center;
  border-top: 1px solid #ddd;
  flex-shrink: 0;
}

.button {
  width: 57px;
  height: 30px;
  margin: 0 7px;
  border-radius: 6px;
}